.fake{
    color: orange;
    font-family: Helvetica Neue, sans-serif;
}

.name{
    font-family: Helvetica Neue, sans-serif;
    font-size: 30px;
}

.text{
    font-family: Helvetica Neue, sans-serif;
    font-size: 14px;
}

.frame01{
    width: 200px;
    height: 200px;
    margin-right: 50px;
    margin-bottom: 20px;
    float: left;
}

.frame02{
    width: 500px;
    height: 200px;
    float: left;
    margin-bottom: 20px;
}

.button{
    margin: 10px 30px;
    background-color: orange;
    border: none;
    padding: 5px 15px;
    font-size: 12px;
    color: white;
}

.button:hover{
    background-color: black;
}

.title{
    font-family: Helvetica Neue, sans-serif;
    font-size: 20px;
}

body{
    background-image: url("https://images.pexels.com/photos/316466/pexels-photo-316466.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
    background-size: cover;
    background-repeat: no-repeat;
}

img{
    border: solid 1px black;
}